[submodule "the-wall-frontend"]
	path = the-wall-frontend
	url = https://github.com/vinigofr/the-wall-frontend
[submodule "the-wall-backend"]
	path = the-wall-backend
	url = https://github.com/vinigofr/the-wall-backend
[submodule "business-data-scraping-trybe"]
	path = business-data-scraping-trybe
	url = git@github.com:vinigofr/business-data-scraping-trybe.git
[submodule "parsed-data-the-wall"]
	path = parsed-data-the-wall
	url = git@github.com:vinigofr/parsed-data-the-wall.git
